asgiref
Django
django-environ
environ
psycopg2
sqlparse
tzdata
djangorestframework
django-filter
djangorestframework-jwt
django-jazzmin
django-import-export
django-resized
django-cors-headers
django-credit-cards
django-ckeditor
django-elasticsearch-dsl-drf
django-modeltranslation
psycopg2-binary
Pillow
cryptography
flake8
boto3
django-storages
Pillow
django-rest-swagger
drf-yasg
djangorestframework-gis
