.title-search {
    cursor: pointer;
    color: #007bff;
    transition: color 0.2s ease-in-out;
  }

  .title-search:hover {
    color: #0056b3;
  }

  .title-search:active {
    transform: scale(0.95);
  }

  .author-search {
    cursor: pointer;
    color: #007bff;
    transition: color 0.2s ease-in-out;
  }

  .author-search:hover {
    color: #0056b3;
  }

  .author-search:active {
    transform: scale(0.95);
  }

  .pagination-search {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  .pagination-search button {
    background-color: white;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
    margin: 0 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    user-select: none;
  }

  .pagination-search button:hover {
    background-color: #f1f1f1;
  }

  .pagination-search button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .pagination-search .active {
    background-color: #4caf50;
    color: white;
  }

  .search-story-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

  }

  .search-story-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
  }

  .search-story-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  .search-story-map {
    width: '400px';
    height: '400px';
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  .google-map {
    width: '400px';
    height: '400px';
  }

  .custom-input-search {
    width: 500px;
    height: 200px;
    resize: both;
    overflow: auto;
    resize: none;
    margin: 0 auto;
    border-radius: '4px';
  }

  .date-type-search {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .date-type-search .MuiOutlinedInput-root {
    background-color: white;
  }

  .date-box-search {
    width: 200px;
    background-color: white;
  }

  .long-boxes-search {
    width: 200px;
    border-radius: '20px'
  }

  .long-boxes-search .MuiOutlinedInput-root {
    background-color: white;
  }


  .story-box-search {
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensure the author info doesn't overflow */
  }

  .story-details-search {
    padding: 10px;
  }

  .story-title-search {
    margin: 0;
    cursor: pointer;
    color: #333;
  }

  .story-author-search {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
    font-size: 1rem; /* Adjust font size as needed */
    color: #666;
  }

  .story-date-search {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    font-size: 1rem; /* Adjust font size as needed */
    color: #666;
  }
  .story-date {
    /* position: absolute; */
    top: 100%;
    left: 50%;
    /* transform: translateX(-50%); */
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
    color: #555;
  }


  /* Add this to your existing CSS or create a new CSS file */
/* Update the timeline styles */
.timeline {
  /* position: fixed; */
  /* bottom: 400px; */
  /* left: 0; */
  /* width: 100%; */
  height: 800px;
  /* background-color: #000; */
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  align-items: center;
}

.timeline-container {
  overflow-x: auto;
  white-space: nowrap;
}

/* Update the dot styles */
.dot {
    /* position: absolute; */
    /* width: 10px; */
    /* height: 10px; */
    /* background-color: #000; */
    border-radius: 50%;
    bottom: -5px;
    display: flex;
    vertical-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 55px;
    /* left: 10%; */
    margin-right: 55px;
}

.dot:first-child {
  margin-left: 125px; /* Adjust the margin value as needed */
}

.dot:last-child {
  margin-right: 125px; /* Adjust the margin value as needed */
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.search-params {
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 70%;
  margin: auto;
}
