.comment-container {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
  }

  .comment-content-container {
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  .comment-author-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
  }

  .comment-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
  }

  .comment-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: 400px;
  }

  .comment-author-name {
    color: #385898;
    cursor: pointer;
    margin-right: 5px;
  }

  .comment-text {
    margin-top: 0;
  }

  .comment-date {
    color: gray;
    margin-top: 10px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  .pagination button {
    background-color: white;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
    margin: 0 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    user-select: none;
  }

  .pagination button:hover {
    background-color: #f1f1f1;
  }

  .pagination button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .pagination .active {
    background-color: #4caf50;
    color: white;
  }
