.authorStoryDetail {
    cursor: pointer;
    color: #007bff;
    transition: color 0.2s ease-in-out;
  }

  .authorStoryDetail:hover {
    color: #0056b3;
  }

  .authorStoryDetail:active {
    transform: scale(0.95);
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  .pagination button {
    background-color: white;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
    margin: 0 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    user-select: none;
  }

  .pagination button:hover {
    background-color: #f1f1f1;
  }

  .pagination button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .pagination .active {
    background-color: #4caf50;
    color: white;
  }

  .heart-clicked {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    outline: none;
  }

  @keyframes grow-up {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

  .heart-clicked:active {
    transform: scale(3.1)
  }

  .storydetail-story-map {
    width: '400px';
    height: '400px';
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .story-content-container {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .quill-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .quill-container .ql-container .ql-editor img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .story-content {
    text-align: center;
    display: inline-block;
  }

  .story-details-wrapper {
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .info-box {
    display: inline-flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 8px 12px;
    margin: 4px;
  }

  .info-text {
    font-size: 14px;
    color: #333;
    text-decoration: none;
  }


.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 8px;
}

.tag-box {
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 8px 12px;
  margin: 4px;
}

.tag-text {
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

.story-details-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.content-container {

  justify-content: space-between;
  margin-top: 16px;
}

.left-side {
  width: 100%;
  padding-right: 16px;
}

.right-side {
  width: 100%;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
}

.author-date-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.story-box {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #f5f5f5;
  margin-bottom: 1rem;
}
.like-container {
  display: flex;
  align-items: center;
  margin-left: -4px;
}

.heart-container {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.like-container .MuiChip-root {
  margin-left: 4px;
}

.custom-input .ql-container .ql-editor img {
  height: 200px;
  width: 600px;
  align-items: center;
}

.story-edit-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 300px;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 24px 24px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
}
.save-button-container {
  position: absolute;
  bottom: 16px;
  left: 16px;
}
