/* UserProfile.css */

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 150px;
}

.pagination button {
  background-color: white;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.pagination button:hover {
  background-color: #f1f1f1;
}

.pagination button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination .active {
  background-color: #4caf50;
  color: white;
}

input[type="file"] {
  height: 0;
  width: 0;
  overflow: hidden;
}

.profile-photo-add-button {
  display: flex;
  align-items: center; /* Align items (image and text) vertically inside the button */
  justify-content: center; /* Center items (image and text) horizontally inside the button */
  height: 50px; /* Set a fixed height for all buttons */
  padding: 5px 10px; /* Adjust padding as needed */
  margin: 0 5px; /* Spacing between buttons */
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  text-align: center; /* Ensure text is centered */
  flex: 0 1 auto; /* Allow buttons to shrink and grow as needed */
  background-color: #7e49ff; /* Orange background */
  border: none;
  border-radius: 1rem;
}

.profile-photo-change-button {
  display: flex;
  align-items: center; /* Align items (image and text) vertically inside the button */
  justify-content: center; /* Center items (image and text) horizontally inside the button */
  height: 50px; /* Set a fixed height for all buttons */
  padding: 5px 10px; /* Adjust padding as needed */
  margin: 0 5px; /* Spacing between buttons */
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  text-align: center; /* Ensure text is centered */
  flex: 0 1 auto; /* Allow buttons to shrink and grow as needed */
  background-color: #4992FF; /* Orange background */
  border: none;
  border-radius: 1rem;
}

.profile-photo-delete-button {
  display: flex;
  align-items: center; /* Align items (image and text) vertically inside the button */
  justify-content: center; /* Center items (image and text) horizontally inside the button */
  height: 50px; /* Set a fixed height for all buttons */
  padding: 5px 10px; /* Adjust padding as needed */
  margin: 0 5px; /* Spacing between buttons */
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  text-align: center; /* Ensure text is centered */
  flex: 0 1 auto; /* Allow buttons to shrink and grow as needed */
  background-color: #FF9549; /* Orange background */
  border: none;
  border-radius: 1rem;
}


.profile-photo-change-button img {
  margin-right: 5px; /* Spacing between image and text */
}


.profile-photo-button:focus {
  outline: none;
}

.profile-photo-add-button:hover {
  background-color: #9c79f4; /* Slightly darker on hover */
}

.profile-photo-change-button:hover {
  background-color: #74abff; /* Slightly darker on hover */
}

.profile-photo-delete-button:hover {
  background-color: #f8ac76 ; /* Slightly darker on hover */
}

.story-box {
  height: 100px;
  width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  border: 0.5px #F2F1F1 solid;
  left: 0px;
  top: 50px;
  position: relative;
  justify-content: flex-start;
}

.story-author-photo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 1rem;
}

.story-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.story-title {
  margin-bottom: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  transition: color 0.2s ease-in-out;
  text-transform: capitalize;
  color: var(--gray-700, var(--gray-700, #323539));
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.15px;
}

.story-title:hover {
  color: #323539;
}

.story-time {
  margin-bottom: 10;
  color: var(--gray-50, var(--gray-50, #858C95));
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.1px;
}

.story-author {
  margin-bottom: 10;
  color: var(--gray-50, var(--gray-50, #858C95));
  text-align: right;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.1px;
}

.custom-bio {
  margin: 65px auto 0;
  width: 600px;
  height: 200px;
  padding: 1rem;
  position: relative;
  text-align: 'left';
  background-color: white;
  text-decoration-color: #323539;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  border: 0.5px #F2F1F1 solid;
  word-wrap: break-word; /* Wrap the text */

}
.edit-box .MuiOutlinedInput-root {
  background-color: white;
  width:633px;
  height:233px;
  margin: 50px auto 0;
  padding: 1rem;
  overflow-y: auto;
  text-align: 'left';
  background-color: white;
  text-decoration-color: #323539;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.13px;
  border-radius: 14px;
  border: 0.5px #F2F1F1 solid;
  position:relative;
}

.custom-bio p {
  margin-bottom: 5px;
  padding-bottom: 15px;
  text-align: left;
  white-space: pre-line;
  overflow-y: auto;
}

.custom-followers {
  padding: spacing(2);
  text-align: 'center';
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.custom-followers p {
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.edit-box {
  padding: 0 30px;
}


.edit-buttons {
  position: absolute;
  bottom: 10px; /* Adjust as per your design */
  right: 10px;  /* Adjust as per your design */
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  border: none;
  background: none;
}

.follow-button {
  background-color: #4caf50; /* Green background */
  color: white;             /* White text */
  padding: 10px 20px;       /* Padding around the text */
  border: none;             /* No border */
  border-radius: 4px;       /* Rounded corners */
  cursor: pointer;          /* Pointer cursor on hover */
  font-size: 16px;          /* Font size */
  font-weight: bold;        /* Font weight */
  margin: 10px 0;           /* Margin for spacing */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}



.follow-button:focus {
  outline: none; /* Remove outline on focus for cleaner look */
}

.follow-button-follow {
  background-color: green; /* Color for follow state */
  color: white;
}

.follow-button-follow:hover {
  background-color: #3e8e41; /* Darker shade of green on hover */
}

.follow-button-unfollow {
  background-color: red; /* Color for unfollow state */
  color: white;
}

.follow-button-unfollow:hover {
  background-color: rgb(245, 69, 69); /* Darker shade of green on hover */
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 600px;
  position: relative;
  margin: 0 auto;
  top: 30px;

}

.left-section {
  /* Styles for left section (profile photo) */
}

.center-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 25px;
  margin-right: 25px;
}

.follower-info {
  margin-bottom: 10px;
}

.photo-buttons {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center the buttons horizontally */
  flex-direction: row; /* Lay out the buttons in a row */
}

.right-section {
  /* Styles for right section (username) */
}

.username {
  font-size: 40px; /* Adjust the size as needed */
  font-weight: bold; /* Makes the text bold */
  /* Add any additional styling you need here */
}
