.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* overflow: hidden; */
    object-fit: cover;
    /* position: 'absolute', */
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin: 585px 0;
  }

.pagination button {
  background-color: white;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.pagination button:hover {
  background-color: #f1f1f1;
}

.pagination button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination .active {
  background-color: #4caf50;
  color: white;
}

input[type="file"] {
  height: 0;
  width: 0;
  overflow: hidden;
}

.profile-photo-change-button {
  cursor: pointer;
  color: #111;
  font-family: Roboto;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background: none;
}

.profile-photo-button:hover {
  background-color: #3e8e41;
}

.profile-photo-button:focus {
  outline: none;
}

.profile-photo-delete-button {
  cursor: pointer;
  color: #111;
  font-family: Roboto;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background: none;
}

.story-box {
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  border: 0.50px #F2F1F1 solid;
  left: 300px;
  top: 490px;
  position: absolute;
  justify-content: flex-start;
}

.story-author-photo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 1rem;
}

.story-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.story-title {
  margin-bottom: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Inter';
  text-align: left;
  transition: color 0.2s ease-in-out;
  text-transform: capitalize;
  color: var(--gray-700, var(--gray-700, #323539));
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 200% */
  letter-spacing: -0.15px;
}

.story-title:hover {
  color: #323539;
}



.story-author {
  margin-bottom: 10;
  color: var(--gray-50, var(--gray-50, #858C95));
  text-align: right;
  /* Text S / Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.1px;
}

.custom-bio {
  height: 175px;
  margin: 0 auto;
  display: flex;
  align-items: left;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  border: 0.50px#F2F1F1 solid;
  position: absolute;
  overflow-y: auto;
  text-Align: left;
  text-decoration-color: #323539;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 184.615% */
  letter-spacing: -0.13px;

}

.custom-bio p {
  margin-bottom: 5px;
  padding-bottom: 15px;
  text-align: left;
  white-space: pre-line;
  overflow-y: auto;
}

.custom-followers {
  padding: spacing(2);
  margin: 'auto';
  max-width: 100px;
  text-align: 'center';
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.custom-followers p {
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.edit-box {
  margin: 'auto';
  width: 700px;
  height: 100px;
  padding: 0 30px;
  text-align: 'center';
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
}

.edit-box .MuiOutlinedInput-root {
  background-color: white;
}

.edit-buttons {
  cursor: pointer;
  /* color: #323539; */
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background: none;
}
