.story-box {
    width: 500px;
    height: 55px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .story-author-photo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 1rem;
  }

  .story-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .story-title {
    margin-bottom: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    color: #1e88e5;
    text-align: left;
    transition: color 0.2s ease-in-out;
  }

  .story-title:hover {
    color: #0056b3;
  }



  .story-author {
    margin-bottom: 10;
    text-align: left;
    font-family: "Comic Sans MS"
  }

  .custom-bio {
    padding: spacing(2);
    margin: 'auto';
    width: fit-content;
    padding: 0 30px;
    text-align: 'center';
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .custom-followers {
    padding: spacing(2);
    margin: 'auto';
    max-width: 100px;
    text-align: 'center';
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
